header {
    background-color: blue;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.totales p {
    text-align: right;
    /*margin: 2px;*/
    border: 1px solid white;
    background-color: rgb(27, 26, 26);
    color: white;

}